[class*=" go-icon-"],
[class^=go-icon-] {
	display: inline-block;
	vertical-align: middle;
	background-image: url(../img/icons.png);
	background-repeat: no-repeat
}

[class*=" go-icon-"]+.text,
[class^=go-icon-]+.text {
	line-height: 120%;
	vertical-align: middle
}

[class*=" icon-"],
[class^=icon-] {
	display: inline-block;
	vertical-align: middle;
	background-position: 0 0;
	background-repeat: no-repeat
}

.icon-profile {
	width: 26px;
	height: 26px;
	background-image: url(../img/icon-profile.gif)
}

.icon-bell {
	width: 18px;
	height: 20px;
	background-image: url(../img/icon-bell.svg)
}

.icon-Ñomments {
	width: 22px;
	height: 20px;
	background-image: url(../img/icon-Ñomments.svg)
}

.go-icon-checkbox-disable {
	width: 18px;
	height: 18px;
	background-position: 0 0
}

.go-icon-checkbox-enable {
	width: 18px;
	height: 18px;
	background-position: -18px 0
}

.go-icon-radiobutton-disable {
	width: 18px;
	height: 18px;
	background-position: -36px 0
}

.go-icon-radiobutton-enable {
	width: 18px;
	height: 18px;
	background-position: -54px 0
}

.go-icon-date {
	width: 18px;
	height: 16px;
	background-position: -72px 0
}

.go-icon-download {
	width: 22px;
	height: 21px;
	background-position: -110px 0
}

.go-icon-mail {
	width: 22px;
	height: 19px;
	background-position: -132px 0
}

.go-icon-newwindow {
	width: 18px;
	height: 16px;
	background-position: 0 -21px
}

.go-icon-print,
.go-icon-reverse {
	width: 26px;
	height: 16px;
	background-position: -40px -21px
}

.go-icon-rupor {
	width: 30px;
	height: 27px;
	background-position: -66px -21px
}

.go-icon-star {
	width: 25px;
	height: 24px;
	background-position: -98px -21px
}

.go-icon-tax {
	width: 29px;
	height: 16px;
	background-position: -124px -21px
}

.go-icon-phone {
	width: 22px;
	height: 22px;
	background-position: -16px -42px
}

.go-icon-mail-footer {
	width: 22px;
	height: 16px;
	background-position: -38px -42px
}

.go-icon-add {
	width: 20px;
	height: 20px;
	background-position: -134px -47px
}

.go-icon-add-invert {
	width: 20px;
	height: 20px;
	background-position: -114px -47px
}

.go-icon-clear {
	width: 17px;
	height: 17px;
	background-position: -60px -50px
}

.go-icon-delete {
	width: 16px;
	height: 16px;
	background-position: -77px -50px
}

.go-icon-success {
	width: 16px;
	height: 13px;
	background-position: -98px -47px
}

.go-icon-success-big {
	width: 49px;
	height: 46px;
	background-position: 0 -64px
}

.go-icon-close {
	width: 22px;
	height: 21px;
	background-position: -49px -67px
}

[class*=" icon-arrow-"],
[class^=icon-arrow-] {
	width: 0;
	height: 0;
	border-style: solid;
	background: 0 0
}

.icon-arrow-t {
	border-width: 0 3px 4px;
	border-color: transparent transparent #000
}

.icon-arrow-b {
	border-width: 4px 3px 0;
	border-color: #000 transparent transparent
}

.icon-arrow-l {
	border-width: 3px 4px 3px 0;
	border-color: transparent #000 transparent transparent
}

.icon-arrow-r {
	border-width: 3px 0 3px 4px;
	border-color: transparent transparent transparent #000
}

body {
	margin: 0;
	padding: 0;
	font-size: 15px;
	line-height: 1.35;
	font-family: 'Open Sans', Tahoma, sans-serif;
	background-color: #ebebeb
}

h1 {
	font-weight: 700;
	font-size: 30px;
	line-height: 32px;
	font-family: 'Open Sans', Tahoma, sans-serif;
	color: #000
}

h2 {
	font-weight: 400;
	font-size: 18px;
	line-height: 18px;
	font-family: 'Open Sans', Tahoma, sans-serif;
	color: #979797;
	margin-top: 40px;
	padding-bottom: 5px;
	border-bottom: 1px solid #d3d3d3
}

h3 {
	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
	font-family: 'Open Sans', Tahoma, sans-serif;
	color: #000
}

.H1Content,
.H2Content,
.H3Content {
	margin: 20px 0;
	border: none
}

.H1Content {
	font-weight: 700;
	font-size: 30px;
	line-height: 32px;
	font-family: 'Open Sans', Tahoma, sans-serif;
	color: #000
}

.H2Content {
	font-weight: 700;
	font-size: 24px;
	line-height: 24px;
	font-family: 'Open Sans', Tahoma, sans-serif;
	color: #000
}

.H3Content {
	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
	font-family: 'Open Sans', Tahoma, sans-serif;
	color: #000
}

.H1Landing,
.H2Landing,
.H3Landing,
.H4Landing,
.PLanding {
	margin: 20px 0;
	border: none
}

.H1Landing {
	font-weight: 700;
	font-size: 48px;
	line-height: 55px;
	font-family: 'Open Sans', Tahoma, sans-serif;
	color: #fac917
}

.H2Landing {
	font-weight: 400;
	font-size: 22px;
	line-height: 32px;
	font-family: 'Open Sans', Tahoma, sans-serif;
	color: #fff
}

.H3Landing {
	font-weight: 700;
	font-size: 26px;
	line-height: 30px;
	font-family: 'Open Sans', Tahoma, sans-serif;
	color: #000
}

.H4Landing {
	font-weight: 400;
	font-size: 18px;
	line-height: 30px;
	font-family: 'Open Sans', Tahoma, sans-serif;
	color: #fff
}

.PLanding_Spacer {
	padding: 0 10px
}

.FormPlaceholder,
.FormSectionTitle {
	margin: 20px 0
}

.FormSectionTitle {
	font-weight: 600;
	font-size: 18px;
	line-height: 18px;
	font-family: 'Open Sans', Tahoma, sans-serif;
	color: #979797
}

.FormPlaceholder {
	font-weight: 400;
	font-size: 18px;
	line-height: 18px;
	font-family: 'Open Sans', Tahoma, sans-serif;
	color: #979797
}

.TextAlt {
	font-size: 14px
}

.LinkDelete,
a.LinkDelete {
	font-size: 13px;
	color: red
}

.LinkFunction,
a.LinkFunction {
	font-size: 13px;
	color: #3e77ba
}

sup {
	font-size: .75em;
	line-height: 0
}

a {
	color: #1075eb;
	text-decoration: underline
}

a.invert,
a:hover {
	text-decoration: none
}

a.invert:hover {
	text-decoration: underline
}

a.ajax {
	text-decoration: none;
	border-bottom: 1px dotted
}

a.ajax:hover {
	text-decoration: none;
	border-bottom-color: transparent
}

a.invert.ajax {
	text-decoration: none;
	border-bottom: 1px dotted transparent
}

a.invert.ajax:hover {
	text-decoration: none;
	border-bottom-color: #1075eb
}

a.WithIcon {
	text-decoration: none;
	border-bottom: 0 none
}

a.WithIcon .WithIcon_Text {
	text-decoration: underline
}

a.WithIcon.invert,
a.WithIcon.invert .WithIcon_Text,
a.WithIcon.invert:hover,
a.WithIcon:hover,
a.WithIcon:hover .WithIcon_Text {
	text-decoration: none
}

a.WithIcon.invert:hover .WithIcon_Text {
	text-decoration: underline
}

a.WithIcon.ajax {
	text-decoration: none;
	border-bottom: 0 none transparent
}

a.WithIcon.ajax .WithIcon_Text {
	text-decoration: none;
	border-bottom: 1px dotted
}

a.WithIcon.ajax:hover {
	text-decoration: none;
	border-bottom: 0 none transparent
}

a.WithIcon.ajax:hover .WithIcon_Text {
	text-decoration: none;
	border-bottom-color: transparent
}

a.WithIcon.invert.ajax {
	text-decoration: none
}

a.WithIcon.invert.ajax .WithIcon_Text {
	text-decoration: none;
	border-bottom-color: transparent
}

a.WithIcon.invert.ajax:hover {
	text-decoration: none
}

a.WithIcon.invert.ajax:hover .WithIcon_Text {
	text-decoration: none;
	border-bottom-color: #1075eb
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none
}

ul li {
	margin: 7px 0;
	padding: 0 0 0 10px;
	position: relative
}

ul li:before {
	width: 4px;
	height: 4px;
	position: absolute;
	left: 0;
	top: 8px;
	background: #000;
	content: "";
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px
}

.WithIcon_Icon,
.WithIcon_Text {
	vertical-align: middle
}

.WithIcon_Icon+.WithIcon_Text {
	padding-left: 5px
}

.WithIcon_Text:first-child {
	vertical-align: baseline
}

.WithIcon_Text+.WithIcon_Icon {
	margin-left: 5px
}

.Clearfix:after,
.Clearfix:before {
	display: table;
	line-height: 0;
	content: ""
}

.Clearfix:after {
	clear: both
}

.Dropdown,
.Field,
.PhoneCode,
.Textbox {
	max-width: 100%;
	width: 100%;
	height: 35px;
	padding: 5px 25px 5px 10px;
	font-weight: 400;
	font-size: 15px;
	line-height: 1.35;
	font-family: 'Open Sans', Tahoma, sans-serif;
	color: #000;
	outline: 0;
	border: 1px solid #c3c3c3;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px
}

.Dropdown-Textarea,
.Field-Textarea,
.PhoneCode-Textarea,
.Textbox-Textarea {
	height: 100px;
	resize: none
}

.DropdownOuter,
.FieldOuter,
.PhoneCodeOuter,
.TextboxOuter {
	display: inline-block;
	max-width: 100%;
	position: relative
}

.Dropdown-Focus,
.Dropdown:focus,
.Field-Focus,
.Field:focus,
.PhoneCode-Focus,
.PhoneCode:focus,
.Textbox-Focus,
.Textbox:focus,
.Validator-Alert .Dropdown,
.Validator-Alert .Field,
.Validator-Alert .PhoneCode,
.Validator-Alert .Textbox,
.Validator-Error .Dropdown,
.Validator-Error .Field,
.Validator-Error .PhoneCode,
.Validator-Error .Textbox,
.Validator-Success .Dropdown,
.Validator-Success .Field,
.Validator-Success .PhoneCode,
.Validator-Success .Textbox {
	padding: 4px 24px 4px 9px;
	border-width: 2px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none
}

.Validator-Success .Dropdown,
.Validator-Success .Field,
.Validator-Success .PhoneCode,
.Validator-Success .Textbox {
	border-color: #21c446
}

.Validator-Alert .Dropdown,
.Validator-Alert .Field,
.Validator-Alert .PhoneCode,
.Validator-Alert .Textbox {
	border-color: #fac917
}

.Validator-Error .Dropdown,
.Validator-Error .Field,
.Validator-Error .PhoneCode,
.Validator-Error .Textbox {
	border-color: red
}

.Dropdown-Focus,
.Dropdown:focus,
.Field-Focus,
.Field:focus,
.PhoneCode-Focus,
.PhoneCode:focus,
.Textbox-Focus,
.Textbox:focus {
	border-color: #fac917
}

.Dropdown:hover,
.Field:hover,
.PhoneCode:hover,
.Textbox:hover {
	padding: 5px 25px 5px 10px;
	border-width: 1px;
	border-color: #4a90e2;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none
}

.Textbox {
	background: #fff;
	-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, .25);
	-moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, .25);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, .25)
}

.Textbox-Datepicker {
	background-image: url(../img/icon-calendar.gif);
	background-position: right 8px;
	background-repeat: no-repeat
}

.Textbox-Disable,
.Textbox-Disable:active,
.Textbox-Disable:focus,
.Textbox-Disable:hover,
.Textbox:disabled,
.Textbox:disabled:active,
.Textbox:disabled:focus,
.Textbox:disabled:hover {
	color: #aaa;
	border-color: #d3d3d3;
	background: #eee;
	cursor: default;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none
}

.Dropdown {
	background-image: -o-linear-gradient(top, #fefefe 0, #ebebeb 100%);
	background-image: -moz-linear-gradient(top, #fefefe 0, #ebebeb 100%);
	background-image: -webkit-linear-gradient(top, #fefefe 0, #ebebeb 100%);
	background-image: -ms-linear-gradient(top, #fefefe 0, #ebebeb 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fefefe), color-stop(1, #ebebeb));
	background: linear-gradient(to bottom, #fefefe, #ebebeb)
}

.Dropdown-Focus,
.Dropdown:focus,
.Dropdown:hover {
	background-image: -o-linear-gradient(top, #efefef 0, #e7e7e7 100%);
	background-image: -moz-linear-gradient(top, #efefef 0, #e7e7e7 100%);
	background-image: -webkit-linear-gradient(top, #efefef 0, #e7e7e7 100%);
	background-image: -ms-linear-gradient(top, #efefef 0, #e7e7e7 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #efefef), color-stop(1, #e7e7e7));
	background: linear-gradient(to bottom, #efefef, #e7e7e7)
}

.Dropdown:disabled {
	background: rgba(168, 168, 168, .2)
}

.Checkbox,
.Radiobutton {
	padding-left: 2px;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.35;
	font-family: 'Open Sans', Tahoma, sans-serif
}

.Checkbox-Block,
.Radiobutton-Block {
	display: block;
	margin: 10px 0
}

.Checkbox-Block:first-child,
.Radiobutton-Block:first-child {
	margin-top: 0
}

.Checkbox-Block:last-child,
.Radiobutton-Block:last-child {
	margin-bottom: 0
}

.Checkbox-Block .Checkbox_Button,
.Checkbox-Block .Radiobutton_Button,
.Checkbox-Block .go-icon,
.Radiobutton-Block .Checkbox_Button,
.Radiobutton-Block .Radiobutton_Button,
.Radiobutton-Block .go-icon {
	float: left
}

.Checkbox-Block .Checkbox_Text,
.Checkbox-Block .Radiobutton_Text,
.Radiobutton-Block .Checkbox_Text,
.Radiobutton-Block .Radiobutton_Text {
	display: block;
	margin-left: 20px
}

.Checkbox_Button,
.Checkbox_Text,
.Radiobutton_Button,
.Radiobutton_Text {
	cursor: pointer
}

.Checkbox_Button,
.Radiobutton_Button,
input.Checkbox_Button,
input.Radiobutton_Button {
	margin: 0;
	position: relative;
	top: 4px;
	outline: 0;
	background: 0 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-transition: none;
	-moz-transition: none;
	-ms-transition: none;
	-o-transition: none;
	transition: none
}

.Checkbox_Button.hide,
.Radiobutton_Button.hide {
	display: none
}

.Checkbox_Text,
.Radiobutton_Text {
	display: inline-block;
	padding: 0 0 0 5px;
	position: relative;
	top: 1px
}

.Checkbox {
	min-height: 21px
}

.Button {
	min-height: 44px;
	padding: 14px 30px;
	font-weight: 600;
	font-size: 17px;
	line-height: 14px;
	font-family: 'Open Sans', Tahoma, sans-serif;
	color: #4a4a4a;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .12);
	vertical-align: middle;
	outline: 0;
	border: 1px solid rgba(0, 0, 0, .1);
	cursor: pointer;
	background-image: -o-linear-gradient(top, #f3f3f3 0, #dfdfdf 100%);
	background-image: -moz-linear-gradient(top, #f3f3f3 0, #dfdfdf 100%);
	background-image: -webkit-linear-gradient(top, #f3f3f3 0, #dfdfdf 100%);
	background-image: -ms-linear-gradient(top, #f3f3f3 0, #dfdfdf 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f3f3f3), color-stop(1, #dfdfdf));
	background: linear-gradient(to bottom, #f3f3f3, #dfdfdf);
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px
}

.Button-Hover,
.Button:hover {
	background-image: -o-linear-gradient(top, #f2f2f2 0, #e4e4e4 100%);
	background-image: -moz-linear-gradient(top, #f2f2f2 0, #e4e4e4 100%);
	background-image: -webkit-linear-gradient(top, #f2f2f2 0, #e4e4e4 100%);
	background-image: -ms-linear-gradient(top, #f2f2f2 0, #e4e4e4 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f2f2f2), color-stop(1, #e4e4e4));
	background: linear-gradient(to bottom, #f2f2f2, #e4e4e4)
}

.Button-Active,
.Button:active,
.Button:focus {
	background-image: -o-linear-gradient(top, #bebebe 0, #b0b0b0 100%);
	background-image: -moz-linear-gradient(top, #bebebe 0, #b0b0b0 100%);
	background-image: -webkit-linear-gradient(top, #bebebe 0, #b0b0b0 100%);
	background-image: -ms-linear-gradient(top, #bebebe 0, #b0b0b0 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #bebebe), color-stop(1, #b0b0b0));
	background: linear-gradient(to bottom, #bebebe, #b0b0b0)
}

.Button-WithIcon {
	padding-top: 13px;
	padding-bottom: 12px
}

.ButtonImage {
	padding: 0;
	outline: 0;
	border: none;
	cursor: pointer;
	background: 0 0
}

.Button-Small {
	padding: 11px 30px;
	font-size: 16px
}

.Button-Small-WithIcon {
	padding-top: 10px;
	padding-bottom: 9px
}

.Button-XSmall {
	padding: 9px 28px;
	font-size: 14px
}

.Button-XSmall-WithIcon {
	padding-top: 8px;
	padding-bottom: 7px
}

.Button-Landing {
	padding: 10px 25px;
	font-weight: 600;
	font-size: 16px;
	line-height: 25px;
	font-family: 'Open Sans', Tahoma, sans-serif;
	color: #000;
	text-shadow: none
}

.Button-LandingAdd {
	background: #fff
}

.Button-LandingAdd:hover {
	background: rgba(255, 255, 255, .8)
}

.Button-LandingPlace {
	background: #f7c750
}

.Button-LandingPlace:hover {
	background: rgba(247, 199, 80, .8)
}

.Button-Alert,
.Button-Success {
	color: #fff;
	border-color: rgba(0, 0, 0, .1)
}

.Button-Success {
	background: #21c446
}

.Button-Success-Hover,
.Button-Success:hover {
	background: #4dcf6b
}

.Button-Success-Active,
.Button-Success:active,
.Button-Success:focus {
	background: #1a9c38
}

.Button-Alert {
	background: #fac917
}

.Button-Alert-Hover,
.Button-Alert:hover {
	background: #fbd345
}

.Button-Alert-Active,
.Button-Alert:active,
.Button-Alert:focus {
	background: #c8a012
}

.Button-Disable,
.Button:disabled {
	cursor: default
}

.Button-Disable,
.Button-Disable:active,
.Button-Disable:focus,
.Button-Disable:hover,
.Button:disabled,
.Button:disabled:active,
.Button:disabled:focus,
.Button:disabled:hover {
	color: #fff;
	border-color: rgba(0, 0, 0, .1);
	background: #ccc
}

.Description {
	font-size: 13px;
	line-height: 13px;
	color: #a8a8a8
}

.Description-Block {
	display: block;
	margin-top: 5px
}

.Description-Center {
	text-align: center
}

.Description-MarginLarge {
	margin: 20px 0
}

.Form-Narrow {
	max-width: 635px;
	margin: 0 auto
}

.Form_Item {
	display: block;
	width: 100%;
	margin: 10px 0
}

.Form_Item-Submit {
	display: block;
	margin-top: 40px;
	padding: 30px;
	text-align: center;
	background-color: #fff;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

.Form_Field,
.Form_Name {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

.Form_Name {
	float: left;
	width: 175px;
	padding-top: 9px;
	vertical-align: top;
	clear: left
}

.Form_Name-WithDescription,
.Form_Name.RequestBid {
	padding-top: 0
}

.Form_Field {
	margin-left: 190px;
	vertical-align: middle
}

.Form_FieldItem,
.Form_FieldItemSeparator,
.Form_FieldItemSpacer {
	display: inline-block;
	vertical-align: top;
	position: relative
}

.Form_FieldItemSpacer {
	padding: 0 10px
}

.Form_FieldItemSeparator {
	padding: 10px 0 0;
	color: #a8a8a8
}

.PhoneCode {
	width: auto;
	background-color: #fff;
	-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, .25);
	-moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, .25);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, .25)
}

.PhoneCode.TextboxOuter,
.PhoneCode.TextboxOuter:hover {
	padding: 0 0 0 10px
}

.PhoneCode.TextboxOuter.Validator-Alert:hover,
.PhoneCode.TextboxOuter.Validator-Success:hover {
	padding: 1px 1px 1px 11px
}

.PhoneCode .country-phone {
	display: inline-block;
	padding: 0;
	border: none;
	outline: 0
}

.PhoneCode .country-phone-options {
	background: #fff
}

.PhoneCode .country-phone-selector {
	display: inline-block;
	vertical-align: middle
}

.PhoneCode .country-phone-selected {
	padding: 1px 0 0 20px;
	font-size: 15px
}

.PhoneCode .country-phone-selected i {
	margin-top: 1px
}

.PhoneCode .country-phone-search {
	height: 20px
}

.PhoneCode .country-phone-search-label {
	margin-top: -22px
}

.PhoneCode .Textbox {
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 3px;
	vertical-align: middle;
	border: none;
	outline: 0;
	background: 0 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none
}

.PhoneCode.Validator-Alert,
.PhoneCode.Validator-Error,
.PhoneCode.Validator-Success {
	border-width: 2px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none
}

.PhoneCode.Validator-Alert .Textbox,
.PhoneCode.Validator-Error .Textbox,
.PhoneCode.Validator-Success .Textbox {
	height: 33px;
	padding-top: 2px;
	padding-bottom: 2px
}

.PhoneCode.Validator-Alert .country-phone-selected,
.PhoneCode.Validator-Error .country-phone-selected,
.PhoneCode.Validator-Success .country-phone-selected {
	padding-left: 19px;
	background-position: 1px 4px
}

.PhoneCode.Validator-Success {
	border-color: #21c446
}

.PhoneCode.Validator-Alert {
	border-color: #fac917
}

.PhoneCode.Validator-Error {
	border-color: red
}

.PhoneCode:hover {
	padding: 5px 25px 5px 10px;
	border-width: 1px;
	border-color: #4a90e2;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none
}

.Validator {
	position: relative
}

.ValidatorIcon {
	display: none;
	position: absolute;
	top: 50%;
	right: 10px
}

.Validator-Success .ValidatorIcon {
	display: inline-block;
	margin-top: -6px
}

.Validator-Alert .ValidatorIcon {
	display: inline-block;
	margin-top: -8px
}

.Validator-Alert .ValidatorIcon.go-icon-success {
	display: none
}

.Validator-Error .ValidatorIcon {
	display: inline-block;
	margin-top: -7px
}

.Tooltip {
	display: inline-block;
	padding: 5px 10px;
	position: relative;
	z-index: 100;
	border: 1px solid #c3c3c3;
	background-color: #fff;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, .15);
	-moz-box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, .15);
	box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, .15)
}

.Tooltip:after,
.Tooltip:before {
	width: 0;
	height: 0;
	position: absolute;
	border-style: solid;
	border-color: transparent;
	content: ""
}

.Tooltip:before {
	border-width: 10px;
	z-index: 101
}

.Tooltip:after {
	border-width: 9px;
	z-index: 102
}

.Tooltip-Left:after,
.Tooltip-Left:before {
	border-right-width: 0;
	top: 50%
}

.Tooltip-Left:before {
	margin-top: -10px;
	border-left-color: #c3c3c3;
	right: -10px
}

.Tooltip-Left:after {
	margin-top: -9px;
	border-left-color: #fff;
	right: -9px
}

.Tooltip-Right:after,
.Tooltip-Right:before {
	border-left-width: 0;
	top: 50%
}

.Tooltip-Right:before {
	margin-top: -10px;
	border-right-color: #c3c3c3;
	left: -10px
}

.Tooltip-Right:after {
	margin-top: -9px;
	border-right-color: #fff;
	left: -9px
}

.Tooltip-Top:after,
.Tooltip-Top:before {
	border-bottom-width: 0;
	left: 50%
}

.Tooltip-Top:before {
	margin-left: -10px;
	border-top-color: #c3c3c3;
	bottom: -10px
}

.Tooltip-Top:after {
	margin-left: -9px;
	border-top-color: #fff;
	bottom: -9px
}

.Tooltip-Bottom:after,
.Tooltip-Bottom:before {
	border-top-width: 0;
	left: 50%
}

.Tooltip-Bottom:before {
	margin-left: -10px;
	border-bottom-color: #c3c3c3;
	top: -10px
}

.Tooltip-Bottom:after {
	margin-left: -9px;
	border-bottom-color: #fff;
	top: -9px
}

.FooterInner,
.HeaderInner,
.LayoutInner {
	max-width: 100%;
	width: 1140px;
	margin: 0 auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

.FooterInner:after,
.FooterInner:before,
.HeaderInner:after,
.HeaderInner:before,
.LayoutInner:after,
.LayoutInner:before {
	display: table;
	line-height: 0;
	content: ""
}

.FooterInner:after,
.HeaderInner:after,
.LayoutInner:after {
	clear: both
}

.Header {
	position: relative;
	z-index: 10;
	background: #fff;
	-webkit-box-shadow: 0 4px 3px #d6d6d6;
	-moz-box-shadow: 0 4px 3px #d6d6d6;
	box-shadow: 0 4px 3px #d6d6d6
}

.Header a {
	color: #000
}

.HeaderInner {
	padding: 14px 0
}

.Header-Landing {
	background-color: rgba(9, 30, 71, .7);
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none
}

.Header-Landing,
.Header-Landing a {
	color: #fff
}

.Footer {
	font-size: 14px;
	background-color: #fff
}

.Footer-None {
	height: 50px;
	margin: 0;
	padding: 0;
	outline: 0;
	border: none;
	background: 0 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none
}

.FooterInner {
	padding: 20px 0
}

.Footer a {
	color: inherit
}

.Footer-Landing {
	background-color: #202020
}

.Footer-Landing .FooterInner {
	padding-left: 55px;
	padding-right: 55px
}

.LayoutInner {
	padding: 40px 110px;
	background-color: #f4f4f4;
	-webkit-box-shadow: 2px 2px 2px rgba(194, 194, 194, .5);
	-moz-box-shadow: 2px 2px 2px rgba(194, 194, 194, .5);
	box-shadow: 2px 2px 2px rgba(194, 194, 194, .5)
}

.LayoutInner:after,
.LayoutInner:before {
	display: table;
	line-height: 0;
	content: ""
}

.LayoutInner:after {
	clear: both
}

.LayoutInner-WithMenuLeft {
	padding: 0;
	background-color: transparent;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none
}

.LayoutInner>:first-child {
	margin-top: 0
}

.LayoutInner>:last-child {
	margin-bottom: 0
}

.LayoutOuter-Text {
	background-color: #fff
}

.LayoutOuter-Advantages {
	background-color: #f4f4f4
}

.LayoutOuter-Apps {
	background-color: #fed367
}

.LayoutOuter-Apps .LayoutInner {
	padding: 100px 55px 180px;
	overflow: hidden
}

.Layout-Landing .LayoutInner {
	background-color: transparent;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none
}

.Logo {
	float: left;
	padding: 3px 0
}

.LogoImage {
	width: 150px;
	height: 37px
}

.Login {
	float: right;
	padding: 14px 0;
	font-family: Roboto, 'Open Sans', Tahoma, sans-serif
}

.LoginSpacer {
	padding: 0 10px
}

.Header-Landing .Login a {
	color: #f7c750
}

.HeaderAddButtons a {
	color: #fff
}

.HeaderAddButtons_Item {
	float: left;
	padding: 6px 0 0 40px
}

.HeaderAddButtons_Item:first-child {
	padinng-right: 40px
}

.HeaderAddButtons_Item:last-child {
	padinng-right: 40px
}

.HeaderAddButtons_Link {
	display: inline-block;
	padding: 5px 30px 5px 10px;
	font-weight: 600;
	font-size: 16px;
	color: #fff;
	text-decoration: none;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .12);
	outline: 0;
	border: 1px solid rgba(0, 0, 0, .1);
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px
}

.HeaderAddButtons_Link-AddCargo {
	background-color: #fac917
}

.HeaderAddButtons_Link-AddCargo:hover {
	background-color: rgba(250, 201, 23, .8)
}

.HeaderAddButtons_Link-AddCar {
	background-color: #21c446
}

.HeaderAddButtons_Link-AddCar:hover {
	background-color: rgba(33, 196, 70, .8)
}

.HeaderAddButtons_LinkImage,
.HeaderAddButtons_LinkText {
	vertical-align: middle
}

.UserPanel {
	float: right;
	padding-top: 9px;
	position: relative
}

.UserPanel_Item,
.UserPanel_Spacer {
	display: inline-block;
	vertical-align: middle;
	position: relative
}

.UserPanel_Spacer {
	padding: 0 5px
}

.UserPanel_NotificationCount {
	padding: 3px 5px;
	font-size: 12px;
	line-height: 12px;
	font-family: Roboto, 'Open Sans', Tahoma, sans-serif;
	color: #fff;
	position: absolute;
	right: -6px;
	top: -8px;
	background-color: red;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px
}

.UserPanel_Link {
	text-decoration: none;
	outline: 0
}

.UserPanel_Item {
	margin: 0 5px
}

.UserPanel_Spacer {
	margin: 0 1px
}

.UserMenu {
	width: 120px;
	height: 0;
	position: absolute;
	right: 0;
	top: 100%
}

.FooterCopy {
	float: left
}

.FooterLinks {
	float: right
}

.FooterLink {
	display: inline-block;
	margin-left: 20px;
	vertical-align: middle
}

.DistanceField {
	margin: 5px 0
}

.DistanceField:first-child {
	margin-top: 0
}

.DistanceField:last-child {
	margin-bottom: 0
}

.DistanceField_AddButton {
	font-size: 13px
}

.DistanceField_DeleteButton {
	margin-left: 7px;
	font-size: 13px;
	color: red;
	position: absolute;
	left: 100%;
	top: 10px
}

.DistanceField_Ball {
	display: block;
	width: 15px;
	height: 15px;
	margin-top: -8px;
	padding: 0 0 0 1px;
	font-weight: 700;
	font-size: 12px;
	text-align: center;
	position: absolute;
	left: -25px;
	top: 50%;
	background-color: #fdcc18;
	-webkit-border-radius: 8px;
	-khtml-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

.DistanceField_Ball-NormalPosition {
	display: inline-block;
	margin: 0;
	position: relative;
	left: auto;
	right: auto;
	top: auto;
	bottom: auto
}

.Navigation {
	float: left;
	width: 190px;
	margin-top: 20px;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.35;
	color: #000
}

.Navigation_Link {
	display: block;
	padding: 10px 15px 10px 10px;
	color: #000;
	text-decoration: none;
	border-left: 5px solid transparent
}

.Navigation_Link:hover {
	background-color: #dfdfdf
}

.Navigation_Link-Active,
.Navigation_Link-Active:hover {
	font-weight: 700;
	border-left-color: #fac917;
	background-color: #f4f4f4;
	-webkit-box-shadow: -2px 2px 2px rgba(170, 170, 170, .5);
	-moz-box-shadow: -2px 2px 2px rgba(170, 170, 170, .5);
	box-shadow: -2px 2px 2px rgba(170, 170, 170, .5)
}

.LandingBg {
	background: #1a254a
}

.LandingBgInner {
	background: url(../img/landing_bg.png) bottom center no-repeat;
	background-size: 100% auto
}

.MenuRight {
	float: right;
	width: 255px
}

.ContentWithMenu-Left {
	margin-left: 285px
}

.ContentWithMenu-Right {
	margin-right: 285px
}

.ContentWithoutMenu {
	margin: 0 0 0 190px;
	padding: 20px;
	background-color: #f4f4f4;
	-webkit-box-shadow: 0 0 6px rgba(194, 194, 194, .5);
	-moz-box-shadow: 0 0 6px rgba(194, 194, 194, .5);
	box-shadow: 0 0 6px rgba(194, 194, 194, .5)
}

.InstructionRequest {
	margin-top: 110px
}

.InstructionRequest_Item {
	margin: 20px 0;
	font-family: 'Open Sans', Tahoma, sans-serif
}

.InstructionRequest_Num {
	float: left;
	font-weight: 700;
	font-size: 40px;
	line-height: 40px;
	color: #fac917
}

.InstructionRequest_Txt {
	margin-left: 35px;
	font-size: 14px;
	line-height: 1.485;
	color: #a8a8a8
}

.InstructionRequest_Txt h3,
.InstructionRequest_Txt p {
	margin: 0
}

.InstructionRequest h3 {
	margin-bottom: 5px;
	font-size: 15px;
	line-height: 1.62;
	color: #000
}

.Columns {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: stretch;
	font-size: 16px
}

.Columns-VAlign-Middle {
	align-items: center;
	vertical-align: middle
}

.Columns .Column-2,
.Columns .Column-3,
.Columns .Column-4 {
	flex-wrap: wrap;
	align-content: stretch;
	flex-grow: 0;
	flex-shrink: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

.Columns .Column-2-Align-Center,
.Columns .Column-3-Align-Center,
.Columns .Column-4-Align-Center {
	text-align: center
}

.Columns .Column-2 {
	width: 50%;
	flex-basis: 50%
}

.Columns .Column-2:nth-child(2n+1) {
	padding-right: 15px
}

.Columns .Column-2:nth-child(2n) {
	padding-left: 15px
}

.Columns .Column-3 {
	width: 33.33%;
	flex-basis: 33.33%
}

.Columns .Column-3:nth-child(3n+1) {
	padding-right: 20px
}

.Columns .Column-3:nth-child(3n+2) {
	padding-left: 10px;
	padding-right: 10px
}

.Columns .Column-3:nth-child(3n) {
	padding-left: 20px
}

.Columns .Column-4 {
	width: 25%;
	flex-basis: 25%
}

.Columns .Column-4:nth-child(2n+1) {
	padding-right: 20px
}

.Columns .Column-4:nth-child(4n+2),
.Columns .Column-4:nth-child(4n+3) {
	padding-left: 10px;
	padding-right: 10px
}

.Columns .Column-4:nth-child(4n) {
	padding-left: 20px
}

.Columns .Column-4-WideP:nth-child(2n+1) {
	padding-right: 40px
}

.Columns .Column-4-WideP:nth-child(4n+2),
.Columns .Column-4-WideP:nth-child(4n+3) {
	padding-left: 20px;
	padding-right: 20px
}

.Columns .Column-4-WideP:nth-child(4n) {
	padding-left: 40px
}

.Columns .Column-Title {
	font-weight: 700;
	font-size: 18px
}

.Advantages {
	margin: 20px 0;
	font-size: 16px
}

.Advantages:after,
.Advantages:before {
	display: table;
	line-height: 0;
	content: ""
}

.Advantages:after {
	clear: both
}

.Advantages_Outer {
	margin: 0 115px
}

.Advantages_Outer .H3Landing {
	margin-bottom: 30px
}

.AdvantagesImage {
	float: left
}

.AdvantagesText {
	margin-left: 85px
}

.AdvantagesTitle {
	font-weight: 600;
	font-size: 17px
}

.AdvantagesAlt {
	margin: 60px 0
}

.AdvantagesAlt_Text,
.AdvantagesAlt_Title {
	margin: 10px 0;
	padding: 0
}

.AdvantagesAlt_Title {
	font-weight: 600;
	font-size: 24px;
	line-height: 1.5
}

.AdvantagesAlt_Text {
	font-size: 16px;
	line-height: 1.5
}

.AppScreen {
	width: 300px;
	height: 400px;
	position: absolute;
	right: 0;
	top: 0;
	background: url(../img/logo_for_phone.svg) 82px 154px no-repeat, url(../img/quite_black.svg) no-repeat
}

.AppScreen_Outer {
	padding-right: 500px;
	position: relative
}

.FooterNavigation {
	color: rgba(255, 255, 255, .7)
}

.FooterNavigation a {
	text-decoration: none
}

.FooterNavigation a:hover {
	text-decoration: underline
}

.FooterNavigation-Mail,
.FooterNavigation-Title {
	font-size: 18px
}

.FooterNavigation-Copy,
.FooterNavigation-Language,
.FooterNavigation-Text {
	font-size: 14px
}

.FooterNavigation-Title {
	font-size: 18px
}

.FooterNavigation-Spacer {
	min-height: 1px
}

.FooterNavigation-Mail {
	color: #fff
}

.FooterNavigation-Copy {
	font-size: 12px;
	color: rgba(255, 255, 255, .6)
}

.ContentForPW {
	display: none
}

.PW .ContentForPW {
	display: block
}

.PW_Content {
	width: 840px;
	padding: 30px 60px;
	margin-left: -420px;
	position: absolute;
	left: 50%;
	top: 100px;
	z-index: 5005;
	background-color: #fff;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px
}

.PW_Bg {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	background-color: rgba(0, 0, 0, .65);
	z-index: 5000
}

.PW_Close {
	position: absolute;
	right: 10px;
	top: 10px;
	cursor: pointer
}

.PW_SubTitle {
	font-style: italic;
	font-size: 17px
}

.select2-container {
	max-width: 100%
}

.select2-container .select2-selection--single {
	max-width: 100%;
	width: 100%;
	height: 35px;
	padding: 5px 25px 5px 10px;
	font-weight: 400;
	font-size: 15px;
	line-height: 1.35;
	font-family: 'Open Sans', Tahoma, sans-serif;
	color: #000;
	outline: 0;
	border: 1px solid #c3c3c3;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-image: -o-linear-gradient(top, #fefefe 0, #ebebeb 100%);
	background-image: -moz-linear-gradient(top, #fefefe 0, #ebebeb 100%);
	background-image: -webkit-linear-gradient(top, #fefefe 0, #ebebeb 100%);
	background-image: -ms-linear-gradient(top, #fefefe 0, #ebebeb 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fefefe), color-stop(1, #ebebeb));
	background: linear-gradient(to bottom, #fefefe, #ebebeb)
}

.select2-container .select2-selection--single-Textarea {
	height: 100px;
	resize: none
}

.select2-container .select2-selection--singleOuter {
	display: inline-block;
	max-width: 100%;
	position: relative
}

.Validator-Alert .select2-container .select2-selection--single,
.Validator-Error .select2-container .select2-selection--single,
.Validator-Success .select2-container .select2-selection--single,
.select2-container .select2-selection--single-Focus,
.select2-container .select2-selection--single:focus {
	padding: 4px 24px 4px 9px;
	border-width: 2px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none
}

.Validator-Success .select2-container .select2-selection--single {
	border-color: #21c446
}

.Validator-Alert .select2-container .select2-selection--single {
	border-color: #fac917
}

.Validator-Error .select2-container .select2-selection--single {
	border-color: red
}

.select2-container .select2-selection--single-Focus,
.select2-container .select2-selection--single:focus {
	border-color: #fac917
}

.select2-container .select2-selection--single:hover {
	padding: 5px 25px 5px 10px;
	border-width: 1px;
	border-color: #4a90e2;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none
}

.select2-container .select2-selection--single-Focus,
.select2-container .select2-selection--single:focus,
.select2-container .select2-selection--single:hover {
	background-image: -o-linear-gradient(top, #efefef 0, #e7e7e7 100%);
	background-image: -moz-linear-gradient(top, #efefef 0, #e7e7e7 100%);
	background-image: -webkit-linear-gradient(top, #efefef 0, #e7e7e7 100%);
	background-image: -ms-linear-gradient(top, #efefef 0, #e7e7e7 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #efefef), color-stop(1, #e7e7e7));
	background: linear-gradient(to bottom, #efefef, #e7e7e7)
}

.select2-container .select2-selection--single:disabled {
	background: rgba(168, 168, 168, .2)
}

.select2-container .select2-selection--single .select2-selection__arrow {
	margin-top: -13px;
	position: absolute;
	right: 2px;
	top: 50%
}

.select2-container .select2-selection--single .select2-selection__clear {
	margin-top: -10px;
	position: absolute;
	right: 20px;
	top: 50%
}

.select2-container .select2-selection--single .select2-selection__arrow b {
	border-top-color: #000
}

.select2-container .select2-selection--single .select2-selection__rendered {
	padding-left: 0;
	padding-right: 0;
	line-height: 1.5
}

.select2-container .select2-selection--single .select2-selection__placeholder {
	display: block;
	color: #797979
}

.select2-container .select2-search--inline:after {
	display: block;
	width: 0;
	height: 0;
	margin-top: -2px;
	position: absolute;
	right: 7px;
	top: 50%;
	border-width: 5px 4px 0;
	border-style: solid;
	border-color: #000 transparent transparent;
	content: ""
}

.select2-container .select2-selection--multiple {
	-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, .25);
	-moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, .25);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, .25)
}

.select2-container .select2-selection--multiple:after {
	display: block;
	width: 0;
	height: 0;
	margin-top: -2px;
	position: absolute;
	right: 7px;
	top: 50%;
	border-width: 5px 4px 0;
	border-style: solid;
	border-color: #000 transparent transparent;
	content: ""
}

.select2-container .select2-selection--multiple .select2-selection__clear {
	display: none
}

.select2-container.select2-container--focus .select2-selection--multiple {
	border-color: #4a90e2
}

.select2-container.select2-container--open .select2-selection--single .select2-selection__arrow b {
	border-bottom-color: #000
}

.select2-container.select2-container--disabled .select2-selection--single {
	border-color: #d3d3d3;
	background: rgba(168, 168, 168, .2)
}

.select2-container .select2-selection--multiple .select2-selection__rendered {
	padding: 0 25px 0 10px
}

.select2-container .Dropdown-NoSearch .select2-search {
	display: none
}

.select2-container .select2-results__option--highlighted[aria-selected] {
	color: #000;
	background: #eee
}

.select2-container .select2-results__option {
	border-bottom: 1px solid #c3c3c3
}

.select2-container .select2-results__option:last-child {
	border-bottom: none
}

.select2-container .select2-results__option[aria-selected=true] {
	background: #fac917
}

.select2-container ul li {
	margin: 0;
	padding: 6px 10px;
	position: static
}

.select2-container ul li:before {
	background: 0 0
}

.ui-widget-content,
.ui-widget-content table {
	font-size: 14px;
	font-family: 'Open Sans', Tahoma, sans-serif
}

.ui-widget-content .ui-state-default {
	text-align: center;
	border: none;
	background: 0 0;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px
}

.ui-widget-content .ui-state-active {
	background: #fac917
}

.ui-widget-content .ui-state-highlight {
	background: #eee
}

.ui-widget-content td a,
.ui-widget-content td span {
	padding-top: 7px;
	padding-bottom: 7px
}

.ui-widget-content .ui-widget-header {
	font-size: 16px;
	border-width: 0 0 1px;
	border-style: solid;
	border-color: #d3d3d3;
	background: 0 0;
	-webkit-border-radius: 0;
	-khtml-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0
}

.ui-widget-content li {
	padding-left: 0
}

.ui-widget-content li:before {
	background: 0 0
}

.ModeMobile .FooterInner,
.ModeMobile .HeaderInner,
.ModeMobile .LayoutInner,
.ModeTablet .FooterInner,
.ModeTablet .HeaderInner,
.ModeTablet .LayoutInner {
	width: auto;
	padding-left: 20px;
	padding-right: 20px;
	position: relative
}

.ModeMobile .LayoutInner-WithMenuLeft,
.ModeTablet .LayoutInner-WithMenuLeft {
	padding: 0
}

.ModeMobile .Navigation,
.ModeTablet .Navigation {
	position: absolute;
	left: -190px;
	top: 0
}

.ModeMobile .MenuRight,
.ModeTablet .MenuRight {
	display: none
}

.ModeMobile .ContentWithMenu-Right,
.ModeTablet .ContentWithMenu-Right {
	margin-right: 0
}

.ModeMobile .ContentWithoutMenu,
.ModeTablet .ContentWithoutMenu {
	margin: 0;
	padding: 20px
}

.ModeMobile .FormLabel,
.ModeTablet .FormLabel {
	font-weight: 600
}

.ModeTablet .LandingBgInner {
	background-size: auto 600px
}

.ModeTablet .PW_Content {
	width: 700px;
	margin-left: -350px
}

.ModeMobile .LandingBgInner {
	background-size: auto 1000px
}

.ModeMobile .Form_Item {
	margin: 15px 0
}

.ModeMobile .Form_Field,
.ModeMobile .Form_Name {
	float: none;
	width: auto;
	margin: 5px 0;
	padding: 0
}

.ModeMobile .Form_Name {
	font-weight: 600
}

.ModeMobile .DistanceField_Ball {
	margin-top: -6px;
	left: -17px
}

.ModeMobile .LayoutOuter-Apps .LayoutInner {
	padding-top: 20px;
	padding-bottom: 20px
}

.ModeMobile .H1Landing {
	font-size: 30px;
	line-height: 1.5
}

.ModeMobile .PLanding_Spacer {
	display: none
}

.ModeMobile .PLanding-Buttons {
	text-align: center
}

.ModeMobile .PLanding .Button {
	margin: 5px 0
}

.ModeMobile .Columns {
	display: block
}

.ModeMobile .Column-2,
.ModeMobile .Column-3,
.ModeMobile .Column-4 {
	width: auto;
	margin: 30px 0
}

.ModeMobile .Column-2,
.ModeMobile .Column-2:nth-child(n),
.ModeMobile .Column-3,
.ModeMobile .Column-3:nth-child(n),
.ModeMobile .Column-4,
.ModeMobile .Column-4:nth-child(n) {
	padding: 0
}

.ModeMobile .Advantages {
	margin: 20px 0
}

.ModeMobile .Advantages_Outer {
	margin: 0
}

.ModeMobile .AdvantagesAlt_Images,
.ModeMobile .AppScreen {
	display: none
}

.ModeMobile .AppScreen_Outer {
	padding-right: 0
}

.ModeMobile .PW_Content {
	width: 320px;
	margin-left: -160px;
	padding: 10px
}