body {
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 1.35;
  font-family: "Open Sans", Tahoma, sans-serif;
  background-color: #ebebeb; }
  body header {
    position: relative;
    z-index: 10;
    background: #fff;
    box-shadow: 0 4px 3px #d6d6d6; }
    body header .headerInner {
      padding: 14px 20px;
      max-width: 100%;
      width: 1140px;
      margin: 0 auto;
      box-sizing: border-box;
      position: relative;
      min-height: 60px; }
      body header .headerInner:before {
        display: table;
        line-height: 0;
        content: ""; }
      body header .headerInner:after {
        clear: both; }
      body header .headerInner .logo {
        float: left; }
        body header .headerInner .logo .logoImage {
          width: 150px;
          height: 37px; }
      body header .headerInner .login {
        float: right;
        padding: 4px 0;
        font-family: Roboto, "OpenSans", Tahoma, sans-serif; }
    body header a {
      color: #000;
      text-decoration: none; }
  body .main .mainInner {
    width: 1140px;
    max-width: 100%;
    margin: 0 auto;
    padding: 40px 110px;
    background-color: #f4f4f4;
    box-shadow: 2px 2px 2px rgba(194, 194, 194, 0.5);
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap; }
    body .main .mainInner .menuRight {
      margin-top: 0;
      float: right;
      width: 240px; }
      body .main .mainInner .menuRight .benefitsGroup {
        margin: 80px 0 0 0;
        width: 256px;
        height: 359px; }
        body .main .mainInner .menuRight .benefitsGroup .benefitsItem {
          margin: 20px 0; }
          body .main .mainInner .menuRight .benefitsGroup .benefitsItem .benefitsItemPic {
            float: left; }
            body .main .mainInner .menuRight .benefitsGroup .benefitsItem .benefitsItemPic .benefitsImage {
              width: 25px;
              height: 24px; }
          body .main .mainInner .menuRight .benefitsGroup .benefitsItem .benefitsText {
            margin-left: 40px;
            width: 207px; }
            body .main .mainInner .menuRight .benefitsGroup .benefitsItem .benefitsText h3 {
              font-size: 16px;
              margin: 0; }
            body .main .mainInner .menuRight .benefitsGroup .benefitsItem .benefitsText p {
              font-size: 14px;
              color: #a8a8a8;
              margin: 5px 0 0 0; }
    body .main .mainInner .mainContent .registrationForm {
      max-width: 635px;
      margin: 0 auto; }
      body .main .mainInner .mainContent .registrationForm h1 {
        font-size: 30px;
        font-family: "Open Sans", Tahoma, sans-serif;
        text-align: left;
        line-height: 32px;
        font-weight: 700; }
      body .main .mainInner .mainContent .registrationForm .formItem {
        display: block;
        width: 100%;
        margin: 10px 0; }
        body .main .mainInner .mainContent .registrationForm .formItem .formDescription {
          width: 180px;
          float: left;
          font-size: 15px;
          font-family: "Open Sans", Tahoma, sans-serif;
          line-height: 1.35;
          padding-top: 8px; }
        body .main .mainInner .mainContent .registrationForm .formItem .formField {
          margin-left: 190px;
          vertical-align: middle; }
          body .main .mainInner .mainContent .registrationForm .formItem .formField .flag {
            display: block;
            width: 23px;
            height: 17px;
            background: url("../img/flag_ru.png") no-repeat;
            background-size: cover;
            margin: 9px 12px; }
          body .main .mainInner .mainContent .registrationForm .formItem .formField .radioText {
            display: block;
            margin: 5px 0; }
          body .main .mainInner .mainContent .registrationForm .formItem .formField .textBox {
            height: 35px;
            padding: 4px 10px 4px 10px;
            font-weight: 400;
            line-height: 1.35;
            border: 1px solid #c3c3c3;
            border-radius: 5px;
            font-size: 15px;
            outline: 0;
            box-sizing: border-box;
            background-color: #fff; }
          body .main .mainInner .mainContent .registrationForm .formItem .formField .formTip {
            display: block;
            margin: 5px 0 0 30px;
            font-size: 13px;
            color: #a8a8a8;
            line-height: 13px; }
          body .main .mainInner .mainContent .registrationForm .formItem .formField .countrySelector {
            width: 64px;
            height: 35px;
            margin-right: 10px;
            display: inline;
            padding: 0; }
            body .main .mainInner .mainContent .registrationForm .formItem .formField .countrySelector .countrySelectorInner {
              display: flex; }
              body .main .mainInner .mainContent .registrationForm .formItem .formField .countrySelector .countrySelectorInner .countrySelectorArrow {
                background: url(../img/arrow_down1.png) no-repeat;
                background-size: cover;
                height: 5px;
                width: 9px;
                margin-top: 15px; }
      body .main .mainInner .mainContent .registrationForm .formSubmit {
        display: block;
        margin-top: 200px;
        padding: 30px;
        text-align: center;
        background-color: #ffffff;
        box-sizing: border-box;
        width: 920px; }
        body .main .mainInner .mainContent .registrationForm .formSubmit .buttonSubmit {
          width: 563px;
          height: 44px;
          min-height: 44px;
          background-color: #cccccc;
          font-weight: 500;
          padding: 14px 30px;
          font-size: 17px;
          font-family: "Open Sans", Tahoma, sans-serif;
          line-height: 14px;
          text-align: center;
          border: thin;
          border-radius: 5px; }
          body .main .mainInner .mainContent .registrationForm .formSubmit .buttonSubmit .buttonText {
            color: #ffffff; }
      body .main .mainInner .mainContent .registrationForm .formContract {
        font-size: 13px;
        line-height: 13px;
        color: #a8a8a8;
        margin: 20px 0 0 250px;
        text-align: center; }

/*# sourceMappingURL=style.css.map */
