$mainFont : "Open Sans", Tahoma, sans-serif
body
    margin: 0
    padding: 0
    font-size: 15px
    line-height: 1.35
    font-family: $mainFont
    background-color: #ebebeb
    header
        position: relative
        z-index: 10
        background: #fff
        box-shadow: 0 4px 3px #d6d6d6
        .headerInner
            padding: 14px 20px
            max-width: 100%
            width: 1140px
            margin: 0 auto
            box-sizing: border-box
            position: relative
            min-height: 60px
            &:before
                display: table
                line-height: 0
                content: ""
            &:after
                clear: both
            .logo
                float: left
                .logoImage
                    width: 150px
                    height: 37px
            .login
                float: right
                padding: 4px 0
                font-family: Roboto, 'OpenSans', Tahoma, sans-serif
        a
            color: #000
            text-decoration: none
    .main
        .mainInner
            width: 1140px
            max-width: 100%
            margin: 0 auto
            padding: 40px 110px
            background-color: #f4f4f4
            box-shadow: 2px 2px 2px rgba(194, 194, 194, .5) 
            box-sizing: border-box

            display: flex
            flex-direction: row
            justify-content: center
            flex-wrap: wrap
            .menuRight
                margin-top: 0
                float: right
                width: 240px
                .benefitsGroup
                    margin: 80px 0 0 0
                    width:  256px
                    height: 359px
                    .benefitsItem
                        margin: 20px 0  
                        .benefitsItemPic
                            float: left 
                            .benefitsImage
                                width: 25px
                                height: 24px  
                        .benefitsText
                            margin-left: 40px
                            width: 207px
                            h3
                                font-size: 16px
                                margin: 0
                            p
                                font-size: 14px
                                color: #a8a8a8
                                margin: 5px 0 0 0 
            .mainContent
                //margin-right: 285px
                .registrationForm
                    max-width: 635px
                    margin: 0 auto
                    h1
                        font-size: 30px
                        font-family: $mainFont
                        text-align: left
                        line-height: 32px
                        font-weight: 700
                    .formItem
                        display: block
                        width: 100%
                        margin: 10px  0 
                        .formDescription
                            width: 180px
                            float: left
                            font-size: 15px
                            font-family: $mainFont
                            line-height: 1.35
                            padding-top: 8px
                        .formField
                            margin-left: 190px
                            vertical-align: middle  
                            .flag
                                display: block
                                width: 23px
                                height: 17px
                                background: url("../img/flag_ru.png") no-repeat
                                background-size: cover
                                margin: 9px 12px
                            .radioText
                                display: block 
                                margin: 5px 0 
                            .textBox
                                // width: 100%
                                // max-width: 100%
                                height: 35px
                                padding: 4px 10px 4px 10px
                                font-weight: 400
                                line-height: 1.35
                                border: 1px solid #c3c3c3
                                border-radius: 5px    
                                font-size: 15px
                                outline: 0   
                                box-sizing: border-box 
                                background-color: #fff
                            .formTip
                                display: block
                                margin: 5px 0 0 30px
                                font-size: 13px
                                color: #a8a8a8
                                line-height: 13px  
                            .countrySelector
                                width: 64px
                                height: 35px
                                margin-right: 10px
                                display: inline
                                padding: 0
                                .countrySelectorInner
                                    display: flex
                                    .countrySelectorArrow
                                        background: url(../img/arrow_down1.png) no-repeat
                                        background-size: cover
                                        height: 5px
                                        width: 9px
                                        margin-top: 15px
                    .formSubmit
                        display: block
                        margin-top: 200px
                        padding: 30px
                        text-align: center
                        background-color: #ffffff
                        box-sizing: border-box
                        width: 920px
                        .buttonSubmit
                            width: 563px
                            height: 44px
                            min-height: 44px
                            background-color: rgb(204,204,204)
                            font-weight: 500
                            padding: 14px 30px
                            font-size: 17px
                            font-family: $mainFont
                            line-height: 14px
                            text-align: center
                            border: thin
                            border-radius: 5px
                            .buttonText
                                color: #ffffff
                    .formContract
                        font-size: 13px
                        line-height: 13px
                        color: #a8a8a8
                        margin: 20px 0 0 250px
                        text-align: center

.layout
    .layoutInner              
                    